<% include partials/header %>
<% include partials/nav %>
<h1><%= camp.location %></h1>
<img src="<%=camp.image%>">
<p>
	<%= camp.desc %>
</p>
<h3>Comments</h3>
<% camp.comments.forEach(function(comment){ %>
	<p> <strong><%= comment.author %></strong> - <%= comment.content %></p>
<% }); %>
<% include partials/footer %>